# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js - Carpeta de compilación (¡Muy importante ignorar!)
.next/
out/

# Docker
.docker/
# Si guardas datos de bases de datos localmente con Docker:
docker-volumes/

# Variables de entorno (Contienen contraseñas y llaves de API)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs y Debug
logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db